/* This is for the Create Product */

form {
    margin: 0 auto;
    width: 900px;
    justify-content: center;
}

.prodTxt {
    font-weight: 600;
    font-size: 1.3em;
}

.prodForm {
    margin-top: 5%;
}

/* This is for the Product Detail */

.prodDet {
    margin-top: 5%;
}

.prodDetTxt {
    width: 800px;
}

/* This is for the Product Update */

.updateProd {
    margin-top: 2%;
}

.prodUpTxt {
    margin-top: 2%;
    font-weight: 600;
    font-size: 1.2em;
}